<div class="material-form" [hidden]="isShowSpecialization">
  <div class="modal-header">
    <div class="title-center-container">
      <h4>{{'Специальности' | translate}}</h4>
    </div>

    <button type="button" class="close pull-right" aria-label="Close" (click)="cancel()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="form-specialization">
      <div class="container">

        <table *ngIf="specializations?.length > 0" mat-table [dataSource]="specializations" class="mat-elevation-z8 full-width">

          <!--- Note that these columns can be defined in any order.
                      The actual rendered columns are set as a property on the row definition" -->

          <!-- Position Column -->
          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef> {{'Название' | translate}} </th>
            <td mat-cell *matCellDef="let specialization"> {{specialization.name}} </td>
          </ng-container>

          <!-- Name Column -->
          <ng-container matColumnDef="shortName">
            <th mat-header-cell *matHeaderCellDef> {{'Краткое название' | translate}} </th>
            <td mat-cell *matCellDef="let specialization"> {{specialization.shortName}} </td>
          </ng-container>

          <!-- Name Column -->
          <ng-container matColumnDef="faculty">
            <th mat-header-cell *matHeaderCellDef> {{'Кафедра' | translate}} </th>
            <td mat-cell *matCellDef="let specialization"> {{specialization.department.shortName}} </td>
          </ng-container>

          <!-- Name Column -->
          <ng-container matColumnDef="selected">
            <th mat-header-cell *matHeaderCellDef> </th>
            <td mat-cell *matCellDef="let specialization">
              <mat-checkbox [checked]="arrayWorker.containtsByProperty(targetSpecializations, specialization, 'idSpecialization')"
                            (change)="selectSpecialization(specialization)"></mat-checkbox>
              <!-- <div class="input-specialization-text">
                <input type="checkbox" aria-label="Checkbox for following text input">
              </div> -->
            </td>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;" [ngClass]="{'selected-item': arrayWorker.containtsByProperty(targetSpecializations, row, 'idSpecialization')}"
          ></tr>
        </table>
        <div *ngIf="specializations?.length == 0" class="center-text">
          Нет доступных групп.
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button (click)="selectSpecializations()" type="submit" class="btn btn-primary full-width">{{'Выбрать'
      | translate}}</button>

    <button (click)="cancel()" type="submit" class="btn btn-danger full-width">{{'Отмена' | translate}}</button>
  </div>
</div>
