<form *ngIf="passwordForm" [formGroup]="passwordForm">
  <div class="modal-header">
    <div class="title-center-container">
      <h4>{{'Поменять пароль' | translate}}</h4>
    </div>

    <button type="button" class="close pull-right" aria-label="Close" (click)="cancel()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="container  col-md-12">
      <div class="form-degree">
        <div class="row">
          <mat-card class="example-full-width">
            <mat-card-title>{{'Пользователь'| translate}}</mat-card-title>
            <mat-card-content>{{object.username}}</mat-card-content>
          </mat-card>
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 align-center">
            <mat-form-field class="example-full-width">
              <input matInput type="password" [placeholder]="'Новый пароль' | translate"  formControlName="password">
            </mat-form-field>

          </div>
        </div>
        <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 align-center">
            <mat-form-field class="example-full-width">
              <input matInput type="password" [placeholder]="'Повторите пароль' | translate"  formControlName="confirmPassword">
            </mat-form-field>

          </div>
        </div>
      </div>
    </div>

  </div>
  <div class="modal-footer">
    <button type="submit" [disabled]="passwordForm.invalid" (click)="editPassword()" class="btn btn-primary full-width">{{'Поменять'
      | translate}}</button>

    <button (click)="cancel()" type="submit" class="btn btn-danger full-width">{{'Отмена' | translate}}</button>

  </div>
</form>
