.half-width {
    width: 50%;
}

[text-center] {
    text-align: center;
}

.big {
    width: 600px;
}

.searchInput {
  width: 70%;
  border: 0px solid black;
  outline: none;
  line-height: 36px;
  margin-left: 15px;
}

.searchIcon {
  display: flex;
  align-items: center;
}

.example-full-width {
  width: 100%;
}