<form *ngIf="secEventForm" [formGroup]="secEventForm">
  <div class="modal-header">
    <div class="title-center-container">
      <h4>{{'Время приема групп' | translate}}</h4>
    </div>

    <button type="button" class="close pull-right" aria-label="Close" (click)="cancel()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="container  col-md-12">
      <div class="form-sec-event">

        <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 align-center">
            <mat-form-field class="example-full-width">
              <input matInput [placeholder]="'Адрес' | translate" formControlName="address" [(ngModel)]="secEvent.address">
            </mat-form-field>

          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <span>{{'Принимаемые группы' | translate}}</span>
            <ng-select
              [items]="sec.groups"
              [multiple]="true"
              [closeOnSelect]="false"
              [searchable]="false"
              bindLabel="number"
              formControlName="groups"
              [placeholder]="'Выбрать группы' | translate"
              [(ngModel)]="secEvent.groups"
              (ngModelChange)="changeGroups(secEvent.groups)">
            </ng-select>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <span>{{'Выбранные студенты' | translate}}</span>
            <ng-select
              [items]="studentsToSelect"
              [multiple]="true"
              [closeOnSelect]="false"
              [searchable]="false"
              bindLabel="lastname"
              formControlName="students"
              [placeholder]="'Выбрать студентов' | translate"
              [(ngModel)]="secEvent.students"
            >
            </ng-select>
          </div>
        </div>

        <br>

        <div class="row">

          <div class="like-form-group">
            <div class="col-xs-12 col-12 col-md-4 form-group full-width">
              <input [disableControl]="date" [minDate]="sec.startDate" [maxDate]="sec.endDate" [bsConfig]="dateConfig" [placeholder]="'Дата проведения' | translate" (bsValueChange)="changeDate()"
                formControlName="date" type="text" class="form-control full-width" #dps="bsDatepicker" bsDatepicker
                [(ngModel)]="dateTime.date">
            </div>
          </div>
          <div class="col-xs-12 col-12 col-md-3 form-group">
            <button [disabled]="date" class="btn btn-success" (click)="dps.toggle()" [attr.aria-expanded]="dps.isOpen">{{'Выбрать дату' | translate}}:</button>
          </div>
        </div>

        <div class="row">

          <div class="col-xs-6 col-6 col-md-4 form-group full-width">
            <mat-checkbox [checked]="secEvent.endDate != null" (change)="changeEndTimeExist($event)" color="primary">{{'Учитывать время завершения'}}</mat-checkbox>
          </div>
        </div>
        <div class="row">

            <div class="col-xs-6 col-6 col-md-4 form-group full-width">
              <timepicker formControlName="time" [min]="minTime" [max]="(secEvent.endDate && dateTime.endTime) || maxTime " [(ngModel)]="dateTime.time"
              (ngModelChange)="changeTime()"
               [showMeridian]="false"></timepicker>
            </div>
            <div *ngIf="secEvent.endDate != null" class="col-xs-6 col-6 col-md-4 form-group full-width">
              <timepicker formControlName="endTime" [min]="dateTime.time || minTime" [max]="maxTime" [(ngModel)]="dateTime.endTime"
                          (ngModelChange)="changeTime()"
                          [showMeridian]="false"></timepicker>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <span>{{'Период проведения ГЭК' | translate}}:</span>
            &nbsp;
            <span>{{sec.startDate | date: 'dd.MM.yyyy'}} - {{sec.endDate | date: 'dd.MM.yyyy'}}</span>
          </div>
        </div>
      </div>
    </div>

  </div>
  <div class="modal-footer">
    <button *ngIf="!isEdit" [disabled]="secEventForm.invalid" (click)="save()" type="submit" class="btn btn-primary full-width">Добавить</button>
    <button *ngIf="isEdit" [disabled]="secEventForm.invalid" (click)="edit()" type="submit" class="btn btn-primary full-width">Редактировать</button>

    <button (click)="cancel()" type="submit" class="btn btn-danger full-width">Отмена</button>

  </div>
</form>
