<div class="select-diplom-theme">
  <div class="container">

    <form [formGroup]="selectDiplomForm">
      <div class="row">
        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">

        </div>
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
          <div class="form-group">
            <label for="exampleInputName">Название</label>
            <input [(ngModel)]="diplomWork.name" formControlName="name" type="text" class="form-control" id="exampleInputName" placeholder="Name">

          </div>
        </div>
        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">

        </div>
      </div>

      <div class="row">
        
      <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
        <div class="form-group">
          <label for="exampleInputFirstName">Руководитель проекта</label>
          <br>
          <div class="input-group">
            <input  formControlName="leader" *ngIf="leader" [value]="formatFullName(leader)" disabled type="text" class="form-control" id="exampleInputFirstName"
              placeholder="Руководитель проекта">
            <span class="input-group-btn">
              <button type="button" (click)="selectLeader()" class="btn btn-info">Выбрать</button>
            </span>
          </div>
        </div>

      </div>


        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
          <div class="form-group">
            <div class="form-group form-control-sm">
              <label for="exampleInputRecensor">Рецензент</label>
              <div class="input-group">
                <input disabled formControlName="recensor" *ngIf="recensor" [value]="formatFullName(recensor)" type="text" class="form-control" placeholder="Рецензент">
                <span class="input-group-btn">
                  <button (click)="selectRecensor()" class="btn btn-info">Выбрать</button>
                </span>
              </div>
              <!-- <input type="text" class="form-control" id="exampleInputRecensor" placeholder="Recensor"> -->
            </div>
          </div>
        </div>

      </div>
      <div class="row bottom-align">
        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
          <div class="form-group">
            <label for="exampleInputMiddleName">Научный руководитель</label>
            <br>
            <div class="input-group">
              <input disabled formControlName="scienceConsultor" *ngIf="scienceConsultor" [value]="formatFullName(scienceConsultor)" type="text" class="form-control" placeholder="Научный руководитель">
              <span class="input-group-btn">
                <button (click)="selectScienceConsultor()" class="btn btn-info">Выбрать</button>
              </span>
            </div>
            <!-- <input type="text" class="form-control" id="exampleInputMiddleName" placeholder="Middle name"> -->
          </div>
        </div>


        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
          <div class="form-group form-control-sm">
            <label for="exampleInputLastName">Руководитель по организационно-технической части</label>
            <br>
            <div class="input-group">
              <input disabled formControlName="otConsultor" *ngIf="otConsultor" [value]="formatFullName(otConsultor)" type="text" class="form-control" placeholder="Организационно-техническая часть">
              <span class="input-group-btn">
                <button (click)="selectOtConsultor()" class="btn btn-info">Выбрать</button>
              </span>
            </div>
          </div>
        </div>

        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
          <div class="form-group form-control-sm">
            <label for="exampleInputLastName">Руководитель по техническо-экономическому обоснованию</label>
            <br>
            <div class="input-group">
              <input disabled  formControlName="teoConsultor" *ngIf="teoConsultor" [value]="formatFullName(teoConsultor)" type="text" class="form-control" placeholder="Техническо-экономическое обоснование">
              <span class="input-group-btn">
                <button (click)="selectTeoConsultor()" class="btn btn-info">Выбрать</button>
              </span>
            </div>
          </div>
        </div>



      </div>
      <div class="row">
        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">

        </div>
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">

          <div class="form-group form-control-sm">
            <label for="exampleInputComment">Комментарий</label>
            <textarea  formControlName="comment" [(ngModel)]="diplomWork.comment" (ngModelChange)="changeComment()" type="text" class="form-control" id="exampleInputComment" placeholder="Комментарий">
            </textarea>
          </div>
        </div>
        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">

        </div>
      </div>
      <div class="row align-center">
        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">

        </div>
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
          <button (click)="save()" [disabled]="selectDiplomForm.invalid" type="submit" class="btn btn-primary full">ОК</button>
        </div>
        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">

        </div>
      </div>
    </form>
  </div>
</div>
