<div class="container">
  <br>

  <div *ngIf="hasOrganizerRole(user)">

    <button mat-raised-button color="primary" (click)="saveInWord()">{{'Сохранить информацию в ворд' | translate}}</button>
    <!--<button mat-raised-button color="warn" (click)="saveInPDF()">{{'Сохранить информацию в PDF' | translate}}</button>-->
  </div>

  <br>

  <mat-card *ngIf="diplomWork">
    <div class="media">
      <div class="media-body">
        <h4 class="media-heading">
          <div class="row">
            <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 right-text">
              <span class="grey-text float-rigth">{{'Название' | translate}}</span>
            </div>
            <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9">
              <span>{{diplomWork.name}} </span>
              <mat-icon (click)="openDiplomWorkForm(diplomWork)" *ngIf="hasOrganizerRole(user)
              || userWorker.hasStudentRole(user)
              || diplomWorkWorker.isLeader(diplomWork, user)">mode_edit</mat-icon>
            </div>
          </div>
        </h4>
        <!-- <p> -->
        <div *ngIf="diplomWork.status" class="row">
          <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 right-text">
            <span class="grey-text float-rigth">{{'Статус' | translate}}</span>
          </div>
          <div *ngIf="hasLectorRole(user)" class="col-xs-9 col-sm-9 col-md-9 col-lg-9">
            <span>
              <mat-select class="status-select" [compareWith]="compareObjects" [(ngModel)]="selectedStatus"
                (ngModelChange)="changeStatus()" [placeholder]="'Статус' | translate">
                <mat-option *ngFor="let status of statuses" [value]="status">
                  {{status.name}}
                </mat-option>
              </mat-select>
            </span>
          </div>
          <div *ngIf="!hasLectorRole(user)" class="col-xs-9 col-sm-9 col-md-9 col-lg-9">
            <span>{{diplomWork.status.name}}</span>
          </div>
        </div>
        <div *ngIf="(diplomWork.comment != null && diplomWork.comment != '')" class="row">
          <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 right-text">
            <span class="grey-text float-rigth">{{'Комментарий' | translate}}</span>
          </div>
          <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9">
            <span *ngIf="(diplomWork.comment != null && diplomWork.comment != '')">{{diplomWork.comment}}</span>
            <span class="grey-text" *ngIf="!(diplomWork.comment != null && diplomWork.comment != '')">{{'Отсутствует' |
              translate}}</span>
          </div>
        </div>
        <!-- </p> -->
      </div>
    </div>
  </mat-card>
  <br>

  <mat-card *ngIf="diplomWork">
    <div class="media">
      <div class="media-body">
        <h4 class="media-heading">
          <div class="row">
            <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 right-text">
              <span class="grey-text float-rigth">{{'Студент' | translate}}</span>
            </div>
            <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9">
              <span>{{userWorker.formatFullName(diplomWork.student)}} </span>
              <mat-icon (click)="openDiplomWorkForm(diplomWork)" *ngIf="hasOrganizerRole(user)">mode_edit</mat-icon>
            </div>
          </div>
        </h4>
        <!-- <p> -->
        <div *ngIf="diplomWork.status" class="row">
          <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 right-text">
            <span class="grey-text float-rigth">{{'Группа' | translate}}</span>
          </div>
          <!-- <div *ngIf="hasLectorRole(user)" class="col-xs-9 col-sm-9 col-md-9 col-lg-9">
            <span>
              <mat-select class="status-select" [compareWith]="compareObjects" [(ngModel)]="selectedStatus"
                (ngModelChange)="changeStatus()" [placeholder]="'Статус' | translate">
                <mat-option *ngFor="let status of statuses" [value]="status">
                  {{status.name}}
                </mat-option>
              </mat-select>
            </span>
          </div> -->
          <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9">
            <a  [routerLink]="'/group/' + diplomWork.student.group.idGroup">{{diplomWork.student.group.number}}</a>
          </div>
        </div>
        <div *ngIf="(diplomWork.comment != null && diplomWork.comment != '')" class="row">
          <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 right-text">
            <span class="grey-text float-rigth">{{'Комментарий' | translate}}</span>
          </div>
          <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9">
            <span *ngIf="(diplomWork.comment != null && diplomWork.comment != '')">{{diplomWork.comment}}</span>
            <span class="grey-text" *ngIf="!(diplomWork.comment != null && diplomWork.comment != '')">{{'Отсутствует' |
              translate}}</span>
          </div>
        </div>
        <!-- </p> -->
      </div>
    </div>
  </mat-card>

  <!-- <table *ngIf="(diplomWork?.percentages != null && diplomWork?.percentages.length > 0)" class="table table-dark">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Название</th>
        <th scope="col">Комментарий</th>
        <th scope="col">Дата начала</th>
        <th scope="col">Дата окончания</th>
        <th scope="col">Процент</th>
        <th scope="col" *ngIf="isLeader"></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let percentage of diplomWork.percentages; let i = index">
        <th scope="row">{{i + 1}}</th>
        <td>{{percentage.name}}</td>
        <td>{{percentage.comment}}</td>
        <td>{{formatDate(percentage.startDate, 'dd.MM.yyyy')}}</td>
        <td>{{formatDate(percentage.endDate, 'dd.MM.yyyy')}}</td>
        <td>{{percentage.percent}}</td>
        <td *ngIf="isLeader">
          <button [disabled]="i != 0 && formatDate(diplomWork.percentages[i - 1].endDate) == formatDate(percentage.startDate)"
            (click)="openPercentageFormBefore(percentage, i)" type="button" class="btn btn-info">Добавить перед</button>
        </td>
        <td *ngIf="isLeader">
          <button [disabled]="i != (diplomWork?.percentages?.length - 1) && formatDate(diplomWork.percentages[i + 1].startDate) == formatDate(percentage.endDate)"
            (click)="openPercentageFormAfter(percentage, i)" type="button" class="btn btn-light">Добавить после</button>
        </td>
        <td *ngIf="isLeader">
          <button type="button" (click)="openPercentageForm(percentage, i)" class="btn btn-warning">Редактировать</button>
        </td>
        <td *ngIf="isLeader">
          <button type="button" (click)="deletePercentage(percentage)" class="btn btn-danger">Удалить</button>
        </td>
      </tr>
    </tbody>
  </table> -->
  <!-- <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12"> -->
  <br>
  <div *ngIf="(diplomWork?.percentages != null && diplomWork?.percentages.length > 0)">
    <table mat-table [dataSource]="diplomWork.percentages" class="mat-elevation-z8 full-width">

      <!--- Note that these columns can be defined in any order.
                The actual rendered columns are set as a property on the row definition" -->

      <!-- Position Column -->
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> {{'Название' | translate}} </th>
        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="comment">
        <th mat-header-cell *matHeaderCellDef> {{'Комментарий' | translate}} </th>
        <td mat-cell *matCellDef="let element"> {{element.comment}} </td>
      </ng-container>

      <!-- Weight Column -->
      <ng-container matColumnDef="startDate">
        <th mat-header-cell *matHeaderCellDef> Дата начала </th>
        <td mat-cell *matCellDef="let element"> {{formatDate(element.startDate, 'dd.MM.yyyy')}} </td>
      </ng-container>

      <!-- Weight Column -->
      <ng-container matColumnDef="endDate">
        <th mat-header-cell *matHeaderCellDef> Дата окончания </th>
        <td mat-cell *matCellDef="let element"> {{formatDate(element.endDate, 'dd.MM.yyyy')}} </td>
      </ng-container>

      <!-- Weight Column -->
      <ng-container matColumnDef="percent">
        <th mat-header-cell *matHeaderCellDef> Процент </th>
        <td mat-cell *matCellDef="let element"> {{element.percent}} </td>
      </ng-container>

      <!-- Weight Column -->
      <ng-container *ngIf="isUserHasAdvancedPermitPercentages(user)" matColumnDef="addBefore">
        <th mat-header-cell *matHeaderCellDef> </th>
        <td mat-cell *matCellDef="let percentage; let i = index;">
          <button [disabled]="i != 0 && diplomWork.percentages[i - 1] &&  formatDate(diplomWork.percentages[i - 1].endDate) == formatDate(percentage.startDate)"
            (click)="openPercentageFormBefore(percentage, i)" type="button" class="btn btn-info">Добавить перед</button>
        </td>
      </ng-container>

      <!-- Weight Column -->
      <ng-container *ngIf="isUserHasAdvancedPermitPercentages(user)" matColumnDef="addAfter">
        <th mat-header-cell *matHeaderCellDef> </th>
        <td mat-cell *matCellDef="let percentage; let i = index;">
          <button [disabled]="i != (diplomWork?.percentages?.length - 1) && diplomWork.percentages[i + 1] && formatDate(diplomWork.percentages[i + 1].startDate) == formatDate(percentage.endDate)"
            (click)="openPercentageFormAfter(percentage, i)" type="button" class="btn btn-primary">Добавить после</button>
        </td>
      </ng-container>

      <!-- Weight Column -->
      <ng-container *ngIf="isUserHasAdvancedPermitPercentages(user)" matColumnDef="edit">
        <th mat-header-cell *matHeaderCellDef> </th>
        <td mat-cell *matCellDef="let percentage"> <button type="button" (click)="openPercentageForm(percentage, i)"
            class="btn btn-warning">Редактировать</button> </td>
      </ng-container>

      <!-- Weight Column -->
      <ng-container *ngIf="isUserHasAdvancedPermitPercentages(user)" matColumnDef="delete">
        <th mat-header-cell *matHeaderCellDef> </th>
        <td mat-cell *matCellDef="let percentage">
          <button type="button" (click)="deletePercentage(percentage)" class="btn btn-danger">Удалить</button>
        </td>
      </ng-container>

      <!-- Symbol Column -->
      <!-- <ng-container matColumnDef="symbol">
          <th mat-header-cell *matHeaderCellDef> Symbol </th>
          <td mat-cell *matCellDef="let element"> {{element.symbol}} </td>
        </ng-container> -->
      <div *ngIf="isUserHasAdvancedPermitPercentages(user)">
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </div>
      <div *ngIf="!isUserHasAdvancedPermitPercentages(user)">
        <tr mat-header-row *matHeaderRowDef="userColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: userColumns; let i = index"></tr>
      </div>
    </table>
  </div>
  <!-- </div> -->
  <div *ngIf="!(diplomWork?.percentages != null && diplomWork?.percentages.length > 0)" class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 grey-text center-text bold-text big-text">
      Процентовки отсутсвуют
    </div>
  </div>
  <div class="row" *ngIf="isUserHasAdvancedPermitPercentages(user) && diplomWork.percentages.length == 0">
    <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 right-text">
    </div>
    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
      <button (click)="openPercentageForm()" class="btn btn-success">Добавить процентовку</button>
    </div>
    <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 right-text">
    </div>
  </div>

  <app-lector-staff [diplomWork]="diplomWork" isChild="true">
    <action-buttons  *ngIf="hasOrganizerRole(user)
              || userWorker.hasStudentRole(user)
              || diplomWorkWorker.isLeader(diplomWork, user)">
      <button mat-icon-button (click)="openDiplomWorkLectorsForm(diplomWork)">
        <mat-icon aria-label="Example icon-button with a heart icon">create</mat-icon>
      </button>
    </action-buttons>
  </app-lector-staff>
</div>
