<div class="container">
  <br>

  <div *ngIf="userWorker.hasOrganizerRole(user)">

    <button mat-raised-button color="primary"
            (click)="saveInWord()">{{'Сохранить информацию в ворд' | translate}}</button>
    <!--<button mat-raised-button color="warn" (click)="saveInPDF()">{{'Сохранить информацию в PDF' | translate}}</button>-->
  </div>

  <br>

  <ng-container *ngIf="diplomWork">
    <app-student-card [student]="diplomWork.student"></app-student-card>
    <br>
    <app-diplom-work-card [diplomWork]="diplomWork" [(selectedStatus)]="selectedStatus" (selectedStatusChange)="changeStatus()"
                          [statuses]="statuses" (clickEditDiplomWorkName)="openDiplomWorkForm($event)"
                          (clickEditMark)="editMark($event)"
    ></app-diplom-work-card>
    <br>
    <app-seccard *ngIf="sec" [sec]="sec"></app-seccard>
    <br>
  </ng-container>
  <ng-container *ngIf="sec">
    <div *ngIf="(sec?.percentages != null && sec?.percentages.length > 0)">
      <app-percentage-table [percentages]="sec.percentages"
                            (clickBeforePercentage)="openPercentageFormBefore($event)"
                            (clickAfterPercentage)="openPercentageFormAfter($event)"
                            (clickEditPercentage)="openPercentageForm($event)"
                            (clickDeletePercentage)="deletePercentage($event)"
      ></app-percentage-table>
    </div>
    <div *ngIf="!(sec?.percentages != null && sec?.percentages.length > 0)" class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 grey-text center-text bold-text big-text">
        Процентовки отсутсвуют
      </div>
    </div>
    <div class="row" *ngIf="isCanChangeLikeLeader && sec.percentages.length == 0">
      <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 right-text">
      </div>
      <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
        <button (click)="openPercentageForm()" class="btn btn-success">Добавить процентовку</button>
      </div>
      <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 right-text">
      </div>
    </div>
    <br>
  </ng-container>
  <app-lectors-accordion [lectors]="lectors" [diplomWork]="diplomWork" (clickEditLectors)="openDiplomWorkLectorsForm(diplomWork)"></app-lectors-accordion>
  <br>
</div>
