<form class="material-form" [hidden]="isHidden" [formGroup]="specializationForm">
  <div class="modal-header">
    <div class="title-center-container">
      <h4>{{'Специальность' | translate}}</h4>
    </div>

    <button type="button" class="close pull-right" aria-label="Close" (click)="cancel()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="container">
      <div class="row">
        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
        </div>
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
          <!-- <div class="form-group form-control-sm">
            <label for="exampleInputFirstName">{{'Название' | translate}}</label>
            <input [(ngModel)]="specialization.name" formControlName="name" type="text" class="form-control" id="exampleInputFirstName"
              [placeholder]="'Название' | translate">
            <div class="alert alert-danger alert-form" *ngIf="studentForm.controls.firstname.touched && studentForm.controls.firstname.errors?.pattern">{{PasswordValidators.onlyRussianLettersAlert}}</div>
          </div> -->
          <mat-form-field class="example-full-width">
            <input matInput [placeholder]="'Название' | translate" [(ngModel)]="specialization.name" formControlName="name">
          </mat-form-field>

        </div>
        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
        </div>
      </div>
      <div class="row">
        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
        </div>
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
          <!-- <div class="form-group form-control-sm">
            <label for="exampleInputFirstName">{{'Код' | translate}}:</label>
            <input [(ngModel)]="specialization.code" formControlName="code" type="text" class="form-control" id="exampleInputFirstName"
              [placeholder]="'Код' | translate">
            <div class="alert alert-danger alert-form" *ngIf="studentForm.controls.firstname.touched && studentForm.controls.firstname.errors?.pattern">{{PasswordValidators.onlyRussianLettersAlert}}</div>
          </div> -->
          <mat-form-field class="example-full-width">
            <input matInput [placeholder]="'Код' | translate" [(ngModel)]="specialization.code" formControlName="code">
          </mat-form-field>
        </div>
        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
        </div>
      </div>
      <!-- <div class="row">
        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
        </div>
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
          <div class="form-group form-control-sm">
            <label for="exampleInputFirstName">Квалификация:</label>
            <input [(ngModel)]="specialization.qualification" formControlName="qualification" type="text" class="form-control" id="exampleInputFirstName"
              placeholder="Квалификация">
            </div>
        </div>
        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
        </div>
      </div> -->
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <div class="form-group form-control-sm">
            <label for="exampleFormControlSelect1">{{'Квалификация' | translate}}</label>
            <select [compareWith]="compareFaculties" [(ngModel)]="specialization.qualification" formControlName="qualification"
              class="form-control" id="exampleFormControlSelect1">
              <!-- <option>FITR</option> -->
              <option *ngFor="let qualification of qualifications" [selected]="qualification.id == specialization.qualification?.id"
                [ngValue]="qualification">{{qualification.name}}</option>
              <!-- <option>FMMP</option>
              <option>3</option>
              <option>4</option>
              <option>5</option> -->
            </select>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
        </div>
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
          <button (click)="openQualificationForm()" type="submit" class="btn btn-warning full-width">{{'Добавить
            Квалификацию' | translate}}</button>
        </div>
        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <div class="form-group form-control-sm">
            <label for="exampleFormControlSelect1">{{'Факультет' | translate}}</label>
            <select [compareWith]="compareFaculties" [(ngModel)]="specialization.department" formControlName="department"
              class="form-control" id="exampleFormControlSelect1">
              <option *ngFor="let department of departments" [selected]="department.id == specialization.department?.id"
                [ngValue]="department">{{department.name}}</option>
            </select>
          </div>
          <!--<mat-form-field>
            <mat-select [compareWith]="compareFaculties" [(ngModel)]="specialization.department" formControlName="department" [placeholder]="'Факультет' | translate">
              <mat-option *ngFor="let department of departments" [selected]="department.idFaculty == specialization.department?.idFaculty"
              [ngValue]="department">
                {{food.viewValue}}
              </mat-option>
            </mat-select>
          </mat-form-field>-->
        </div>
      </div>
      <div class="row">
        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
        </div>
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
          <button (click)="openDepartmentForm()" type="submit" class="btn btn-warning full-width">{{'Добавить факультет' |
            translate}}</button>
        </div>
        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button *ngIf="!isEdit" [disabled]="specializationForm.invalid" (click)="saveSpecialization()" type="submit" class="btn btn-primary full-width">{{'Добавить'
      | translate}}</button>
    <button *ngIf="isEdit" [disabled]="specializationForm.invalid" (click)="editSpecialization()" type="submit" class="btn btn-primary full-width">{{'Сохранить'
      | translate}}</button>
    <button (click)="cancel()" type="submit" class="btn btn-danger full-width">{{'Отмена' | translate}}</button>
  </div>

</form>