<div class="container">
  <br>
  <div class="row">
    <div class="col-12 col-md-6">
      <mat-form-field class="example-full-width">
        <!-- <i class="material-icons material-icons.md-36">search</i> -->
        <!-- <span matPrefix>
            <button mat-raised-button color="primary">
              <mat-icon>search</mat-icon>
            </button>
          </span> -->
        <input [(ngModel)]="search" (keyup)="keyUp($event)" matInput [placeholder]="'Search' | translate" type="search">
        <span matSuffix>
          <button mat-raised-button color="primary">
            <mat-icon>search</mat-icon>
          </button>
        </span>
      </mat-form-field>
    </div>
    <div class="col-12 col-md-6 col-center">
      <!-- <mat-icon>search</mat-icon> -->
    </div>
  </div>
  <br>
  <!-- <table class="table table-dark">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Номер</th>
        <th scope="col">Специальность</th>
        <th scope="col">Количество студентов</th>
        <th scope="col"></th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let group of groups; let i = index">
        <th scope="row">{{i + 1}}</th>
        <td>{{group.number}}</td>
        <td><span *ngIf="group.specialization">{{group.specialization.name}}</span>
          <span *ngIf="!group.specialization">-</span></td>
        <td>{{group.amount_student}}</td>
        <td>
          <button (click)="openGroupForm(group)" type="button" class="btn btn-info">Редактировать</button>
        </td>
        <td>
          <button (click)="deleteGroup(group)" type="button" class="btn btn-danger">Удалить</button>
        </td>
      </tr>
    </tbody>
  </table> -->

  <!--<table mat-table [dataSource]="selectedGroups" class="mat-elevation-z8 full-width">-->

    <!--&lt;!&ndash;- Note that these columns can be defined in any order.-->
                <!--The actual rendered columns are set as a property on the row definition" &ndash;&gt;-->

    <!--&lt;!&ndash; Position Column &ndash;&gt;-->
    <!--<ng-container matColumnDef="number">-->
      <!--<th mat-header-cell *matHeaderCellDef> {{'Номер' | translate}} </th>-->
      <!--<td mat-cell *matCellDef="let group"> {{group.number}} </td>-->
    <!--</ng-container>-->

    <!--&lt;!&ndash; Name Column &ndash;&gt;-->
    <!--<ng-container matColumnDef="specialization">-->
      <!--<th mat-header-cell *matHeaderCellDef> {{'Специальность' | translate}} </th>-->
      <!--<td mat-cell *matCellDef="let group"> {{group.specialization.name}} </td>-->
    <!--</ng-container>-->

    <!--&lt;!&ndash; Name Column &ndash;&gt;-->
    <!--<ng-container matColumnDef="amount">-->
      <!--<th mat-header-cell *matHeaderCellDef> {{'Количество студентов' | translate}} </th>-->
      <!--<td mat-cell *matCellDef="let group"> {{group.amountStudent}} </td>-->
    <!--</ng-container>-->

    <!--<ng-container matColumnDef="edit">-->
      <!--<th mat-header-cell *matHeaderCellDef> </th>-->
      <!--<td mat-cell *matCellDef="let group">-->
        <!--<button (click)="openGroupForm(group)" type="button" class="btn btn-info">{{'Редактировать' | translate}}</button>-->
      <!--</td>-->
    <!--</ng-container>-->

    <!--<ng-container matColumnDef="delete">-->
      <!--<th mat-header-cell *matHeaderCellDef> </th>-->
      <!--<td mat-cell *matCellDef="let group">-->
        <!--<button (click)="deleteGroup(group)" type="button" class="btn btn-danger">{{'Удалить' | translate}}</button>-->
      <!--</td>-->
    <!--</ng-container>-->
    <!--<tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>-->
    <!--<tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>-->
  <!--</table>-->
  <app-group-table [groups]="selectedGroups" (clickEdit)="openGroupForm($event)" (clickDelete)="deleteGroup($event)"></app-group-table>
  <br>
  <div class="row">
    <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
    </div>

    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">

      <button (click)="openGroupForm()" type="submit" class="btn btn-primary full-width">{{'Добавить группу' |
        translate}}</button>
    </div>
    <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
    </div>
  </div>
</div>
