<form *ngIf="diplomWorkForm" [formGroup]="diplomWorkForm">
  <div class="modal-header">
    <div class="title-center-container">
      <h4>{{'Дипломная работа' | translate}}</h4>
    </div>

    <button type="button" class="close pull-right" aria-label="Close" (click)="cancel()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="container  col-md-12">
      <div class="form-diplomWork">
        <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 align-center">
            <!--<div class="form-group form-control-sm">
              <label for="exampleInputFirstName">{{'Название'| translate}}</label>

              <input formControlName="name" [(ngModel)]="diplomWork.name" type="text" class="form-control" id="exampleInputComment"
                [placeholder]="'Название' | translate">
            </div>--> <div class="row">

            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
              <div class="form-group">
                <label for="exampleInputFirstName">Руководитель проекта</label>
                <br>
                <div class="input-group">
                  <input *ngIf="diplomWork.leader" formControlName="leader" [value]="userWorker.formatFullName(diplomWork.leader)" disabled type="text" class="form-control" id="exampleInputFirstName"
                          placeholder="Руководитель проекта">
                  <span class="input-group-btn">
              <button type="button" (click)="selectLeader()" class="btn btn-info">Выбрать</button>
            </span>
                </div>
              </div>

            </div>


            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
              <div class="form-group">
                <div class="form-group form-control-sm">
                  <label for="exampleInputRecensor">Рецензент</label>
                  <div class="input-group">
                    <input disabled *ngIf="diplomWork.recensor" formControlName="recensor" [value]="userWorker.formatFullName(diplomWork.recensor)" type="text" class="form-control" placeholder="Рецензент">
                    <span class="input-group-btn">
                  <button (click)="selectRecensor()" class="btn btn-info">Выбрать</button>
                </span>
                  </div>
                  <!-- <input type="text" class="form-control" id="exampleInputRecensor" placeholder="Recensor"> -->
                </div>
              </div>
            </div>

          </div>
            <div class="row bottom-align">
              <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                <div class="form-group">
                  <label for="exampleInputMiddleName">Научный руководитель</label>
                  <br>
                  <div class="input-group">
                    <input disabled *ngIf="diplomWork.scienceConsultor" formControlName="scienceConsultor" [value]="userWorker.formatFullName(scienceConsultor)" type="text" class="form-control" placeholder="Научный руководитель">
                    <span class="input-group-btn">
                <button (click)="selectScienceConsultor()" class="btn btn-info">Выбрать</button>
              </span>
                  </div>
                  <!-- <input type="text" class="form-control" id="exampleInputMiddleName" placeholder="Middle name"> -->
                </div>
              </div>


              <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                <div class="form-group form-control-sm">
                  <label for="exampleInputLastName">Руководитель по организационно-технической части</label>
                  <br>
                  <div class="input-group">
                    <input disabled *ngIf="diplomWork.otConsultor"  formControlName="otConsultor" [value]="userWorker.formatFullName(diplomWork.otConsultor)" type="text" class="form-control" placeholder="Организационно-техническая часть">
                    <span class="input-group-btn">
                <button (click)="selectOtConsultor()" class="btn btn-info">Выбрать</button>
              </span>
                  </div>
                </div>
              </div>

              <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                <div class="form-group form-control-sm">
                  <label for="exampleInputLastName">Руководитель по техническо-экономическому обоснованию</label>
                  <br>
                  <div class="input-group">
                    <input disabled *ngIf="diplomWork.teoConsultor"   formControlName="teoConsultor" [value]="userWorker.formatFullName(diplomWork.teoConsultor)" type="text" class="form-control" placeholder="Техническо-экономическое обоснование">
                    <span class="input-group-btn">
                <button (click)="selectTeoConsultor()" class="btn btn-info">Выбрать</button>
              </span>
                  </div>
                </div>
              </div>



            </div>

          </div>
        </div>

        <!-- <div class="row">

          <div class="like-form-group">
            <div class="col-xs-12 col-12 col-md-4 form-group full-width">
              <input [disableControl]="startDate" [bsConfig]="dateConfig" [minDate]="minDate" [maxDate]=" diplomWork.endDate || maxDate "
                placeholder="Дата начала" (bsValueChange)="changeStartDate()" formControlName="startDate" type="text" class="form-control full-width"
                #dps="bsDatepicker" bsDatepicker [(ngModel)]="diplomWork.startDate">
            </div>
          </div>
          <div class="col-xs-12 col-12 col-md-3 form-group">
            <button [disabled]="startDate" class="btn btn-success" (click)="dps.toggle()" [attr.aria-expanded]="dps.isOpen">Выбрать дату начала</button>
          </div>
        </div>
        <div class="row">

          <div class="like-form-group">
            <div class="col-xs-12 col-12 col-md-4 form-group  full-width">
              <input (bsValueChange)="changeEndDate()" [disableControl]="diplomWork.startDate == null || endDate" formControlName="endDate"
                [isDisabled]="diplomWork.startDate == null" type="text" class="form-control  full-width" #dpe="bsDatepicker"
                [bsConfig]="dateConfig" [minDate]="diplomWork.startDate || minDate " [maxDate]="maxDate" placeholder="Дата окончания"
                bsDatepicker [(ngModel)]="diplomWork.endDate">
            </div>
          </div>
          <div class="col-xs-12 col-12 col-md-3 form-group">
            <button [disabled]="diplomWork.startDate == null || endDate" class="btn btn-success" (click)="dpe.toggle()" [attr.aria-expanded]="dpe.isOpen">Выбрать дату окончания</button>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 align-center">
            <div class="form-group form-control-sm">
              <label for="exampleInputFirstName">Процент</label>
              <input [(ngModel)]="diplomWork.percent" formControlName="percent" class="form-control" percent placeholder="%">

            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="form-group form-control-sm">
              <label for="exampleInputFirstName">Комментарий</label>

              <textarea rows="3" formControlName="comment" [(ngModel)]="diplomWork.comment" type="text" class="form-control" id="exampleInputComment"
                placeholder="Комментарий">
              </textarea>
            </div>

          </div>
        </div> -->
      </div>
    </div>

  </div>
  <div class="modal-footer">
    <button *ngIf="!isEdit" [disabled]="diplomWorkForm.invalid" (click)="save()" type="submit" class="btn btn-primary full-width">{{'Добавить'
      | translate}}</button>
    <button *ngIf="isEdit" [disabled]="diplomWorkForm.invalid" (click)="edit()" type="submit" class="btn btn-primary full-width">{{'Редактировать'
      | translate}}</button>

    <button (click)="cancel()" type="submit" class="btn btn-danger full-width">{{'Отмена' | translate}}</button>

  </div>
</form>

