<div class="row main-image">
  <div class="container">
    <br>
    <div class="news-container">
      <app-news [hasTitle]="true" titleHeaderColor="#007bff" titleHeader="Мониторинг дипломного проектирования" itemsCSS="main-news"></app-news>
    </div>
  </div>
  <!-- <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
    <div class="thumbnail">
      <img src="..." alt="...">
      <div class="caption">
        <a>many text</a>
        <h3>Thumbnail label</h3>
        <p class="font-x1">many text</p>
      </div>
    </div>
  </div> -->
</div>
