<div class="container">

  <div class="row">
    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
      <ul class="nav nav-tabs float-left">
        <li role="presentation">
          <a>Дипломные работы</a>
        </li>
      </ul>
    </div>

    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
      <ul *ngIf="mode == 'unathored'" class="nav nav-tabs float-right">
        <li *ngFor="let item of unauthored" role="presentation" class="active">
          <!-- <a routerLink="/home">Главная</a> -->
          <a routerLink="/{{item.path}}" >{{item.title}}</a>
        </li>
        <li role="presentation">
          <a (click)="loginForm()">Войти</a>
        </li>
      </ul>
      <ul *ngIf="mode == 'student'" class="nav nav-tabs float-right">
        <li *ngFor="let item of student" role="presentation" class="active">
          <!-- <a routerLink="/home">Главная</a> -->
          <a routerLink="/{{item.path}}" >{{item.title}}</a>
        </li>
        <li role="presentation">
          <a (click)="logout()" routerLink="/home">Выход</a>
        </li>
        <!-- <li role="presentation" class="active">
          <a routerLink="/home">Главная</a>
        </li>
        <li role="presentation">
          <a routerLink="/about-us">О нас</a>
        </li>
        <li role="presentation">
          <a routerLink="/registration">Регистрация</a>
        </li>
        <li role="presentation">
          <a routerLink="/login">Войти</a>
        </li> -->
      </ul>
      <ul *ngIf="mode == 'admin'" class="nav nav-tabs float-right">
        <li *ngFor="let item of admin" role="presentation" class="active">
          <!-- <a routerLink="/home">Главная</a> -->
          <a routerLink="/{{item.path}}" >{{item.title}}</a>
        </li>
        <li role="presentation">
          <a (click)="logout()" routerLink="/home">Выход</a>
        </li>
      </ul>

      <!-- <ul *ngIf="mode == 'student'" class="nav nav-tabs float-right">
        <li role="presentation">
          <a routerLink="/select-diplom">выбор работы</a>
        </li>
        <li role="presentation">
          <a routerLink="/about-us">О нас</a>
        </li>
        <li role="presentation">
          <a routerLink="/news">Новости</a>
        </li>
        <li role="presentation" class="dropdown">
          <a  class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
            Преподователи
            <span class="caret"></span>
          </a>
          <ul class="dropdown-menu">
            <li role="presentation">
              <a routerLink="/lector-staff">Преподовательский состав</a>
            </li>
            <li role="presentation">
              <a routerLink="/lector-staff">Мои руководители</a>
            </li>
          </ul>
        </li>
        <li role="presentation">
          <a (click)="logout()" routerLink="/home">Выход</a>
        </li>
      </ul> -->
    </div>
  </div>
</div>
<router-outlet></router-outlet>
<footer>
  <div class="container">
    <div class="text-center">
      <h3>Copyright © 2016 Diplom</h3>
    </div>
  </div>
</footer>
<!-- <app-messages></app-messages> -->