<form class="material-form" [formGroup]="facultyForm">
  <div class="modal-header">
    <div class="title-center-container">
      <h4>{{'Факультет' | translate}}</h4>
    </div>

    <button type="button" class="close pull-right" aria-label="Close" (click)="cancel()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="form-faculty">
      <div class="container">
        <div class="row">
          <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
          </div>
          <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
            <!-- <div class="form-group form-control-sm">
              <label for="exampleInputFirstName">{{'Название' | translate}}</label>
              <input [(ngModel)]="faculty.name" formControlName="name" type="text" class="form-control" id="exampleInputFirstName"
                [placeholder]="'Название' | translate">
              <div class="alert alert-danger alert-form" *ngIf="studentForm.controls.firstname.touched && studentForm.controls.firstname.errors?.pattern">{{PasswordValidators.onlyRussianLettersAlert}}</div>
            </div> -->
            <mat-form-field class="example-full-width">
              <input matInput [placeholder]="'Название' | translate" [(ngModel)]="faculty.name"
                formControlName="name">
            </mat-form-field>
          </div>
          <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
          </div>
        </div>
        <div class="row">
          <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
          </div>
          <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
            <!--<div class="form-group form-control-sm">
              <label for="exampleInputFirstName">{{'Краткое название' | translate}}</label>
              <input [(ngModel)]="faculty.shortName" formControlName="shortName" type="text" class="form-control" id="exampleInputFirstName"
                [placeholder]="'Краткое название' | translate">
              <div class="alert alert-danger alert-form" *ngIf="studentForm.controls.firstname.touched && studentForm.controls.firstname.errors?.pattern">{{PasswordValidators.onlyRussianLettersAlert}}</div>
            </div>-->

            <mat-form-field class="example-full-width">
              <input matInput [placeholder]="'Краткое название' | translate" [(ngModel)]="faculty.shortName"
                formControlName="shortName">
            </mat-form-field>
          </div>
          <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="form-group form-control-sm">
              <label for="exampleFormControlSelect1">{{'Университет' | translate}}</label>
              <select [compareWith]="compareFaculties" [(ngModel)]="faculty.university" formControlName="university"
                class="form-control" id="exampleFormControlSelect1">
                <!-- <option>FITR</option> -->
                <option *ngFor="let university of universities" [selected]="university.id == faculty.university?.id"
                  [ngValue]="university">{{university.name}}</option>
                <!-- <option>FMMP</option>
                <option>3</option>
                <option>4</option>
                <option>5</option> -->
              </select>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
          </div>
          <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
            <button (click)="openQualificationForm()" type="submit" class="btn btn-warning full-width">{{'Добавить
              Квалификацию' | translate}}</button>
          </div>
          <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button *ngIf="!isEdit" [disabled]="facultyForm.invalid" (click)="saveFaculty()" type="submit" class="btn btn-primary full-width">{{'Добавить'
      | translate}}</button>
    <button *ngIf="isEdit" [disabled]="facultyForm.invalid" (click)="editFaculty()" type="submit" class="btn btn-primary full-width">{{'Сохранить'
      | translate}}</button>
    <!-- </div> -->
    <!-- <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3"> -->
    <button (click)="cancel()" type="submit" class="btn btn-danger full-width">{{'Отмена' | translate}}</button>
    <!-- </div> -->
    <!-- <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3"> -->
    <!-- </div> -->
    <!-- </div> -->
  </div>
</form>