<div class="row">
  <div class="col-12 col-md-6">
    <mat-form-field class="example-full-width">
      <!-- <i class="material-icons material-icons.md-36">search</i> -->
      <!-- <span matPrefix>
              <button mat-raised-button color="primary">
                <mat-icon>s earch</mat-icon>
              </button>
            </span> -->
      <input [(ngModel)]="input" (keyup)="keyUp($event)" matInput [placeholder]="'Search' | translate" type="search">
      <span matSuffix>
        <button mat-raised-button color="primary">
          <mat-icon>search</mat-icon>
        </button>
      </span>
    </mat-form-field>
  </div>
  <div class="col-12 col-md-6 col-center">
    <!-- <mat-icon>search</mat-icon> -->
  </div>
</div>
