<div class="reg-div">
  <div class="container">
    <!-- <mat-card> -->
      <form [formGroup]="secretaryForm">
        <!-- <div class="row">
        <div class="col">
      <div class="form-group">
        <label for="exampleInputUsername">Username</label>
        <input type="text" class="form-control" id="exampleInputUsername" placeholder="Username">
      </div>
    </div>
    <div class="col">
      <div class="form-group">
        <label for="exampleInputFirstName">First name</label>
        <input type="text" class="form-control" id="exampleInputFirstName" placeholder="First name">
      </div>
    </div>
    <div class="col">
      <div class="form-group">
        <label for="exampleInputMiddleName">Middle name</label>
        <input type="text" class="form-control" id="exampleInputMiddleName" placeholder="Middle name">
      </div>
    </div>
      <div class="form-group form-control-sm">
        <label for="exampleInputLastName">Last name</label>
        <input type="text" class="form-control" id="exampleInputLastName" placeholder="First name">
      </div>
      </div> -->
        <div class="row">
          <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
          </div>
          <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
            <div class="form-group form-control-sm">
              <label for="exampleInputFirstName">{{'Логин' | translate}}</label>
              <input [ngClass]="{'invalid-input': isUsernameExist}" [(ngModel)]="secretary.username" formControlName="login"
                type="text" class="form-control" id="exampleInputUsername" [placeholder]="'Логин' | translate">
              <div class="alert alert-danger alert-form" *ngIf="isUsernameExist">{{'Пользователь существует' |
                translate}}</div>
              <div class="alert alert-danger alert-form" *ngIf="secretaryForm.controls.login.touched && secretaryForm.controls.login.errors?.pattern">{{PasswordValidators.atLeastOneLetterOfLettersAndNumbersAlert
                | translate}}</div>

            </div>
            <!-- <mat-form-field class="example-full-width">
            <input matInput placeholder="Логин" [(ngModel)]="secretary.username">
          </mat-form-field> -->
          </div>
          <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
          </div>
        </div>

        <div class="row">
          <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
            <div class="form-group form-control-sm">
              <label for="exampleInputLastName">{{'Фамилия' | translate}}</label>
              <input [(ngModel)]="secretary.lastname" formControlName="lastname" type="text" class="form-control" id="exampleInputLastName"
                [placeholder]="'Фамилия' | translate">
              <div class="alert alert-danger alert-form" *ngIf="secretaryForm.controls.lastname.touched && secretaryForm.controls.lastname.errors?.pattern">{{PasswordValidators.onlyRussianLettersAlert}}</div>
            </div>
            <!-- <mat-form-field class="example-full-width">
            <input matInput placeholder="Фамилия" [(ngModel)]="secretary.lastname">
          </mat-form-field>
          <div class="alert alert-danger alert-form" *ngIf="secretaryForm.controls.lastname.touched && secretaryForm.controls.lastname.errors?.pattern">{{PasswordValidators.onlyRussianLettersAlert}}</div> -->

          </div>
          <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
            <div class="form-group form-control-sm">
              <label for="exampleInputFirstName">{{'Имя' | translate}}</label>
              <input [(ngModel)]="secretary.firstname" formControlName="firstname" type="text" class="form-control" id="exampleInputFirstName"
                [placeholder]="'Имя' | translate">
              <div class="alert alert-danger alert-form" *ngIf="secretaryForm.controls.firstname.touched && secretaryForm.controls.firstname.errors?.pattern">{{PasswordValidators.onlyRussianLettersAlert}}</div>
            </div>
          </div>
          <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
            <div class="form-group form-control-sm">
              <label for="exampleInputMiddleName">{{'Отчество' | translate}}</label>
              <input [(ngModel)]="secretary.middlename" formControlName="middlename" type="text" class="form-control" id="exampleInputMiddleName"
                [placeholder]="'Отчество' | translate">
              <div class="alert alert-danger alert-form" *ngIf="secretaryForm.controls.middlename.touched && secretaryForm.controls.middlename.errors?.pattern">{{PasswordValidators.onlyRussianLettersAlert}}</div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
            <div class="form-group form-control-sm">
              <label for="exampleInputPassword1">{{'Пароль'| translate}}</label>
              <input [(ngModel)]="secretary.password" formControlName="password" type="password" class="form-control" id="exampleInputPassword1"
                [placeholder]="'Пароль' | translate">
              <div class="alert alert-danger alert-form" *ngIf="secretaryForm.controls.password.touched && secretaryForm.controls.password.errors?.minlength">
                {{'Пароль должен содержать 6 символов' | translate}}</div>
            </div>
          </div>
          <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
            <div class="form-group form-control-sm">
              <label for="exampleInputPassword2">{{'Подтвердить пароль' | translate}}</label>
              <input [(ngModel)]="secretary.confirmPassword" (ngModelChange)="changeConfirmPassword()" formControlName="confirmPassword"
                type="password" class="form-control" id="exampleInputPassword2" [placeholder]="'Подтвердить пароль' | translate">
              <div class="alert alert-danger alert-form" *ngIf="secretaryForm.controls.confirmPassword.touched && secretaryForm.controls.confirmPassword.errors?.MatchPassword">
                {{'Пароль не совпадает' | translate}}</div>
            </div>
          </div>
        </div>










        <div class="row">
          <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
          </div>
          <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
            <button [disabled]="secretaryForm.invalid" (click)="RegistrationSecretary()" type="submit" class="btn btn-primary full-width">{{'Регистрация'
              | translate}}</button>
          </div>
          <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
          </div>
        </div>
        <div class="row">
          <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
          </div>
          <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
            <div class="center-text">
              <a class="custom-link" (click)="login">{{'У вас уже есть аккаунт?' | translate}}</a>
            </div>
          </div>
          <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
          </div>
        </div>
      </form>
    <!-- </mat-card> -->
  </div>
</div>