<form *ngIf="secUserForm" [formGroup]="secUserForm">
  <div class="modal-header">
    <div class="title-center-container">
      <h4>{{'Участник комиссии' | translate}}</h4>
    </div>

    <button type="button" class="close pull-right" aria-label="Close" (click)="cancel()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="container  col-md-12">
      <div class="form-secUser">
        <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 align-center">
            <mat-form-field class="example-full-width">
              <input matInput [disabled]="editedSecUser.user" [placeholder]="'Фамилия' | translate" formControlName="lastname" [(ngModel)]="editedSecUser.lastname">
            </mat-form-field>

          </div>
        </div>
        <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 align-center">
            <mat-form-field class="example-full-width">
              <input matInput [disabled]="editedSecUser.user" [placeholder]="'Имя' | translate" formControlName="firstname" [(ngModel)]="editedSecUser.firstname">
            </mat-form-field>

          </div>
        </div>
        <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 align-center">
            <mat-form-field class="example-full-width">
              <input matInput [disabled]="editedSecUser.user" [placeholder]="'Отчество' | translate" formControlName="middlename" [(ngModel)]="editedSecUser.middlename">
            </mat-form-field>

          </div>
        </div>

        <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="form-group form-control-sm">
              <label for="exampleFormControlSelect1">{{'Роль' | translate}}</label>
              <select [compareWith]="compareFaculties" [(ngModel)]="editedSecUser.role" formControlName="role"
                class="form-control" id="exampleFormControlSelect1">
                <option *ngFor="let role of secRoles"
                  [ngValue]="role" [disabled]="(role.name === 'SECRETARY' && isDisabledSecretaryRole)
                  || (role.name === 'CHAIRMAN' && isDisabledChairmanRole)">{{role.name | translate}}</option>
              </select>
            </div>
          </div>
        </div>
        <button *ngIf="!editedSecUser.user" (click)="selectLector()" type="submit" class="btn btn-primary full-width">
          {{'Добавить из существующих пользователей'| translate}}
        </button>
        <button *ngIf="editedSecUser.user" (click)="createNewLector()" type="submit" class="btn btn-primary full-width">
          {{'Создать нового пользователя'| translate}}
        </button>
      </div>
    </div>

  </div>
  <div class="modal-footer">
    <button *ngIf="!isEdit" [disabled]="secUserForm.invalid" (click)="save()" type="submit" class="btn btn-primary full-width">{{'Добавить'
      | translate}}</button>
    <button *ngIf="isEdit" [disabled]="secUserForm.invalid" (click)="edit()" type="submit" class="btn btn-primary full-width">{{'Редактировать'
      | translate}}</button>

    <button (click)="cancel()" type="submit" class="btn btn-danger full-width">{{'Отмена' | translate}}</button>

  </div>
</form>
