<div class="lector-staff">
  <div [ngClass]="{'container': !isChild}">
    <ng-container *ngIf="hasTitleCard">
      <br>
      <div>
        <mat-card>
          <mat-card-title class="center-text">{{'Преподаватели' | translate}}
            <span class="float-right">
                <ng-content select="action-buttons"></ng-content>
              </span></mat-card-title>
        </mat-card>
      </div>
    </ng-container>
    <br>
    <app-lector-list [lectors]="lectors" [diplomWork]="diplomWork"></app-lector-list>


  </div>
</div>
