<div class="material-form">
  <div class="modal-header">
    <div class="title-center-container">
      <h4>{{'Кафедра' | translate}}</h4>
    </div>

    <button type="button" class="close pull-right" aria-label="Close" (click)="cancel()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="form-department">
      <div class="container">

        <table *ngIf="departments?.length > 0" mat-table [dataSource]="departments" class="mat-elevation-z8 full-width">

          <!--- Note that these columns can be defined in any order.
                      The actual rendered columns are set as a property on the row definition" -->

          <!-- Position Column -->
          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef> {{'Название' | translate}} </th>
            <td mat-cell *matCellDef="let department"> {{department.name}} </td>
          </ng-container>

          <!-- Name Column -->
          <ng-container matColumnDef="shortName">
            <th mat-header-cell *matHeaderCellDef> {{'Краткое название' | translate}} </th>
            <td mat-cell *matCellDef="let department"> {{department.shortName}} </td>
          </ng-container>

          <!-- Name Column -->
          <ng-container matColumnDef="faculty">
            <th mat-header-cell *matHeaderCellDef> {{'Факультет' | translate}} </th>
            <td mat-cell *matCellDef="let department"> {{department.faculty.name}} </td>
          </ng-container>

          <!-- Name Column -->
          <ng-container matColumnDef="selected">
            <th mat-header-cell *matHeaderCellDef> </th>
            <td mat-cell *matCellDef="let department">
              <mat-checkbox [checked]="targetDepartment?.id === department.id"
                            (change)="selectDepartment(department)"></mat-checkbox>
              <!-- <div class="input-department-text">
                <input type="checkbox" aria-label="Checkbox for following text input">
              </div> -->
            </td>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;" [ngClass]="{'selected-item': targetDepartment?.id === row.id}"
          ></tr>
        </table>
        <div *ngIf="departments?.length == 0" class="center-text">
          {{'Нет доступных кафедр.' | translate}}
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button (click)="selectDepartments()" type="submit" class="btn btn-primary full-width">{{'Выбрать'
      | translate}}</button>

    <button (click)="cancel()" type="submit" class="btn btn-danger full-width">{{'Отмена' | translate}}</button>
  </div>
</div>
